APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=

FACEBOOK_CLIENT_ID = 577140109143060
FACEBOOK_CLIENT_SECRET = 805b9f605ee7466504bb53dccad31c59
FACEBOOK_REDIRECT = http://charity-campaign.framgia.vn/callback/facebook

TWITTER_CLIENT_ID=ZzvLH0A09O5gHMArJC5b0NvX1
TWITTER_CLIENT_SECRET=X7DrGoOixtq5JCuUJyX3nOAwmrL63uP27CjZDnfHIbVtmujYqm
TWITTER_REDIRECT=http://charity-campaign.framgia.vn/callback/twitter

GOOGLE_CLIENT_ID=946236890914-k0mcuuiugeet2r4qs1p6v2hg9lpcl8uf.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=aHAO025ZIiTkIlndsUGk0dHl
GOOGLE_REDIRECT=http://charity-campaign.framgia.vn/callback/google
