/* keyframes mixin*/
/* animation mixin */
/**transition*/
/** font-face mixin*/
body {
  font-size: 12px;
}

#page-wrapper {
  /** common custom elements*/
}

#page-wrapper .custom-widget {
  box-shadow: 1px 1px 1px #ffffcc;
  border: 1px solid #ccc;
}

#page-wrapper .block-title-light {
  color: #ffffff;
}

#page-wrapper .icon-menu {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 12px;
}

#page-wrapper #main-container {
  box-shadow: 2px 2px 2px #ffffcc;
  border: 1px solid #ffffcc;
}

#page-wrapper #main-container .panel-title {
  font-size: 14px;
}

#page-wrapper #main-container .left-panel .user-info-details {
  margin: 10px auto;
}

#page-wrapper #main-container .left-panel .user-info-details-block {
  margin-top: 50px;
}

#page-wrapper #main-container .left-panel .user-info-details a:hover {
  color: #000;
}

#page-wrapper #main-container .left-panel .user-info-details-name {
  font-size: 20px;
  font-weight: bold;
  margin: initial;
  color: #000;
}

#page-wrapper #main-container .left-panel .user-info-avatar {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}

#page-wrapper #main-container .left-panel .user-info-sologan {
  font-style: italic;
  font-weight: bold;
  margin: 10px auto;
}

#page-wrapper #main-container .left-panel .user-info-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-wrapper #main-container .left-panel .user-info-social-item {
  display: inline-block;
  margin: 10px 15px 10px;
  text-align: left;
}

#page-wrapper #main-container .left-panel .user-info-social-item p {
  margin: 0;
}

#page-wrapper #main-container .left-panel .user-info-social-item a:hover {
  text-decoration: none;
}

#page-wrapper #main-container .left-panel .user-info-social-item a:hover .title {
  color: #0084B4;
}

#page-wrapper #main-container .left-panel .user-info-social-item .title {
  text-transform: uppercase;
  color: #000;
  opacity: 0.7;
}

#page-wrapper #main-container .left-panel .user-info-social-item .number {
  text-transform: uppercase;
  color: #0084B4;
  font-size: 20px;
}

#page-wrapper #main-container .left-panel .favorite-tag ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-wrapper #main-container .left-panel .favorite-tag .tag-list {
  padding: 10px 5px;
}

#page-wrapper #main-container .left-panel .favorite-tag .tag-list .tag-item {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#page-wrapper #main-container .left-panel .favorite-tag .tag-list .tag-item a {
  text-decoration: none;
  color: #0084B4;
  text-transform: uppercase;
  font-size: 12px;
}

#page-wrapper #main-container .left-panel .favorite-tag .tag-list .tag-item a:hover {
  text-decoration: underline;
}

#page-wrapper #main-container .left-panel .favorite-tag .tag-list .tag-item-content {
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

#page-wrapper #main-container .left-panel .favorite-tag .tag-list .tag-item-sub {
  opacity: 0.8;
  color: #8899a6;
  text-transform: uppercase;
  font-size: 12px;
  text-transform: lowercase;
  margin: 0;
}

#page-wrapper #main-container .right-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#page-wrapper #main-container .right-panel .hot-campaign-item,
#page-wrapper #main-container .right-panel .active-user-item {
  display: block;
  margin: 10px auto;
}

#page-wrapper #main-container .right-panel .hot-campaign-item .avatar,
#page-wrapper #main-container .right-panel .active-user-item .avatar {
  margin-right: 0;
}

#page-wrapper #main-container .right-panel .hot-campaign-item .avatar img,
#page-wrapper #main-container .right-panel .active-user-item .avatar img {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

#page-wrapper #main-container .right-panel .hot-campaign-item-info,
#page-wrapper #main-container .right-panel .active-user-item-info {
  padding-left: 0;
  padding-right: 0;
}

#page-wrapper #main-container .right-panel .hot-campaign-social > li,
#page-wrapper #main-container .right-panel .active-user-social > li {
  display: inline-block;
  margin: 10px 5px 0;
  text-align: left;
}

#page-wrapper #main-container .right-panel .hot-campaign-social p,
#page-wrapper #main-container .right-panel .active-user-social p {
  margin: 0;
  font-size: 9px;
}

#page-wrapper #main-container .right-panel .hot-campaign-social .title,
#page-wrapper #main-container .right-panel .active-user-social .title {
  text-transform: uppercase;
  color: #000;
  opacity: 0.7;
}

#page-wrapper #main-container .right-panel .hot-campaign-social .number,
#page-wrapper #main-container .right-panel .active-user-social .number {
  text-transform: uppercase;
  color: #0084B4;
  font-size: 15px;
}

#page-wrapper #main-container .right-panel .hot-campaign-name,
#page-wrapper #main-container .right-panel .active-user-name {
  display: block;
  font-weight: bold;
  color: #000;
}

#page-wrapper #main-container .center-panel .block-options .dropdown i {
  opacity: 1 !important;
}

#page-wrapper #main-container .center-panel .timeline-controls {
  border-top: 1px solid #ccc;
}

#page-wrapper #main-container .center-panel .timeline-controls-item {
  display: inline-block;
  min-width: 80px;
  font-size: 20px;
  margin: 5px 10px;
  padding: 5px 20px;
  font-weight: bold;
}

#page-wrapper #main-container .center-panel .timeline-controls-item a, #page-wrapper #main-container .center-panel .timeline-controls-item a.comment, #page-wrapper #main-container .center-panel .timeline-controls-item a:hover, #page-wrapper #main-container .center-panel .timeline-controls-item a:visited, #page-wrapper #main-container .center-panel .timeline-controls-item a:active {
  text-decoration: none;
  color: #999;
}

#page-wrapper #main-container .center-panel .timeline-controls-item a.comment:hover {
  color: #337ab7;
}

#page-wrapper #main-container .center-panel .timeline-controls-item a.rate:hover {
  color: #ff7e00;
}

#page-wrapper #main-container .center-panel .timeline-controls-item a.facebook:hover {
  color: #3b5998;
}

#page-wrapper #main-container .profile-content .user-bio {
  margin: 0 auto;
  padding: 10px;
}

/*# sourceMappingURL=app.css.map */
