$sologanColor: #000;
$userSocialLabelColor: #282828;
$userSocialNumberColor: #5cbde0;

$favoriteTagAnchorColor: #0084B4;
$favoriteTagSubAnchorColor: #8899a6;

$contentColor: #000;

$boxShadowColor: #ffffcc;
$borderColor: #ccc;

$backgroundIconColor: rgba(0, 0, 0, 0.3);
$borderIconColor: rgba(0, 0, 0, 0.7);
$fontIconColor: #fff;

$facebookColor: #3b5998;
