@import "colors";
@import "mixins";
@import "settings";

html {
    font-size: 62.5%;
}
body {
    font-size: $mainContentSize;
    color: #333 !important;
    font-family: Georgia,serif !important;
    background: #F1F3FA;
    font-weight: 300 !important;
    font-size: 14px !important;
}

#page-wrapper {
    /** common custom elements*/
    .custom-widget {
        @include box-shadow(1px 1px 1px $boxShadowColor);
        border: 1px solid $borderColor;
    }
    .block-title-light {
        color: #ffffff;
    }
    .icon-menu {
        background-color: $backgroundIconColor;
        color: $fontIconColor;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: $iconFontSize;
        text-align: center;
        border: 1px solid $borderIconColor;
        @include border-radius(12px);
    }
    #page-container {

    }

    @media (max-width: 768px) {
        #main-container {
            margin: 0 !important;
        }
    }

    #main-container {
        margin: 0 $pageMarginLeft;
        
        .panel-title {
            font-size: $titleFontSize;
        }
        .left-panel {
            .user-info {
                &-details {
                    margin: 10px auto;
                    &-block {
                        margin-top: 50px;
                    }
                    a:hover {
                        color: $contentColor;
                    }
                    &-name {
                        font-size: 20px;
                        font-weight: bold;
                        margin: initial;
                        color: $contentColor;
                    }
                }
                &-avatar {
                    width: 100px;
                    height: 100px;
                    vertical-align: middle;
                }
                &-sologan {
                    font-style: italic;
                    font-weight: bold;
                    margin: 10px auto;
                }
                &-social {
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                    &-item {
                        display: inline-block;
                        margin: 10px 15px 10px;
                        text-align: left;
                        p {
                            margin: 0;
                        }
                        a:hover {
                            text-decoration: none;
                            .title {
                                color: $favoriteTagAnchorColor;
                            }
                        }
                        .title {
                            text-transform: uppercase;
                            color: $contentColor;
                            opacity: 0.7;
                        }
                        .number {
                            text-transform: uppercase;
                            color: $favoriteTagAnchorColor;
                            font-size: 20px;
                        }
                    }
                }
            }
            .favorite-tag {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                .tag-list {
                    padding: 10px 5px;
                    .tag-item {
                        text-align: left;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        a {
                            text-decoration: none;
                            color: $favoriteTagAnchorColor;
                            text-transform: uppercase;
                            font-size: $favoriteTagAnchorFontSize;
                            &:hover {
                                text-decoration: underline;
                            }
                            &:active {

                            }
                            &:visited {

                            }
                        }
                        &-content {
                            text-transform: uppercase;
                            font-weight: bold;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: block;
                        }
                        &-sub {
                            opacity: 0.8;
                            color: $favoriteTagSubAnchorColor;
                            text-transform: uppercase;
                            font-size: $favoriteTagAnchorFontSize;
                            text-transform: lowercase;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .right-panel {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            .hot-campaign,
            .active-user {
                &-item {
                    display: block;
                    margin: 10px auto;
                    .avatar {
                        margin-right: 0;
                        img {
                            width: 55px;
                            height: 55px;
                            vertical-align: middle;
                        }
                    }
                    &-info {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                &-social {
                    & > li {
                        display: inline-block;
                        margin: 0px 5px 0;
                        text-align: left;
                    }
                    p {
                        margin: 0;
                        font-size: 9px;
                    }
                    .title {
                        text-transform: uppercase;
                        color: $contentColor;
                        opacity: 0.7;
                    }
                    .number {
                        text-transform: uppercase;
                        color: $favoriteTagAnchorColor;
                        font-size: 15px;
                    }
                }
                &-name {
                    display: block;
                    font-weight: bold;
                    color: $contentColor;
                }
            }
        }

        .center-panel {
            .block {
                &-options {
                    .dropdown {
                        i {
                            opacity: 1 !important;
                        }
                    }
                }
                &-title {
                    .campaign-title {

                    }
                }
            }
            .timeline-controls {
                border-top: 1px solid $borderColor;
                &-list {

                }
                &-item {
                    display: inline-block;
                    min-width: 80px;
                    font-size: 20px;
                    margin: 5px 10px;
                    padding: 5px 20px;
                    font-weight: bold;
                    a, a:hover, a:visited, a:active {
                        text-decoration: none;
                        color: #999;
                    }
                    a.comment {
                        @extend a;
                        &:hover {
                            color: #337ab7;
                        }
                    }
                    a.rate {
                        &:hover {
                            color: #ff7e00;
                        }
                    }
                    a.facebook {
                        &:hover {
                            color: $facebookColor;
                        }
                    }
                    a {
                        i {

                        }
                        span {

                        }
                    }
                }
            }
        }

        .profile-content {
            .user-bio {
                margin: 0 auto;
                padding: 10px;
            }
        }
    }
    .gmap-timeline {
        height: 220px;
    }
    .show {
        color: black;
    }
    .push-bit {
        p {
            img {
                width: 200px;
            }
        }
    }
    .media-list {
        .media {
            display: inline-flex;
            width: 100%;
        }
    }

    .image_size {
        width: 100px;
        height: 100px;
    }
    .activity-time {
        float: right;
    }
    .progress {
        height: 20px;
    }
    .fix-float {
        display: block;
        position: relative;
        z-index: 9999;
    }
    .font-size-progress-bar {
        font-size: 12px;
    }
    .mdl-data-table {
        white-space: normal;
    }

    @media (min-width: 1080px) {
      .table-custome {
        display: inline-table;
        width: 100%;
      }
    }

    .campaign-title {
        a {
            color: #fff;
        }
    }
    .border-tab {
        border-bottom: 1px solid #ddd;
    }
    .rating-user :first-child {
        margin-right: 0;
    }
    .timeline-list li {
        padding: 2px;
    }
    .twitter-typeahead {
        width: 100%;
    }
    .custom-li-hover {
        background: #d6d4d4;
    }
    .search-campaign-img {
        float: left;
        margin-right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 2px;
    }
    strong {
        margin-right: 0 !important;
    }
    .custom-li-hover {
        padding: 8px;
        &:hover {
            background-color: #f5f5f5;
        }
        .campaign-detail {
            color: #222;
            &:hover {
                text-decoration: none;
            }
        }

    }
    .timeline-list {
        .timeline-icon {
            top: 2px !important;
        }
    }
    .timeline p img {
        width: 100% !important;
    }
    .active-user {
        padding: 3px 15px;
    }
    .rating-user {
        margin-right: 0px;
    }
    .btn-follow :first-child {
        margin-right: 5px;
    }
    .btn {
        text-transform: none;
    }
    .error {
        color: red;
    }
    .header-section {
        a {
            &:hover {
                color: #fff3e0;
                text-decoration: none;
            }
          .campaign-name-custom {
                color: #fff;
          }
        }
    }
    .table {
        thead {
            tr {
                th {
                    padding-top: 0;
                    font-size: 14px;
                }
            }
        }
    }
    .label-warning-custom {
        color: #2b2928;
    }

    .push-bit {
      margin-bottom: 6px !important;
    }
    .push {
        margin-bottom: 3px !important;
    }
    .contributor {
        overflow: auto;
    }
    #note {
        margin: 0 $pageMarginLeft;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        opacity: 0.9;
        font-weight: bold;
        border-radius: 0;
        display: block;
        transform: translateY(-54px);
        animation: slideDown 5s 1s 1 ease;
        -webkit-transform: translateY(-54px);
        -webkit-animation: slideDown 5s 1s 1 ease;
        -moz-transform:    translateY(-54px);
        -moz-animation:    slideDown 5s 1s 1 ease ;
    }

    @keyframes slideDown {
        0%, 100% { transform: translateY(-54px); }
        10%, 90% { transform: translateY(0px); }
    }

    @-webkit-keyframes slideDown {
        0%, 100% { -webkit-transform: translateY(-54px); }
        10%, 90% { -webkit-transform: translateY(0px); }
    }
    @-moz-keyframes slideDown {
        0%, 100% { -moz-transform: translateY(-54px); }
        10%, 90% { -moz-transform: translateY(0px); }
    }

    .footer {
        background: #000;
        color: #fff;
        width: 100%;

        .footer-left img {
            width: 30px;
            height: 30px;
        }

        p {
            float: left;
        }
    }
    .fa-exclamation-triangle {
        color: red;
    }
    .rating {
        .glyphicon {
            font-size: 20px;
        }
    }
}
.modal-content {
    margin-top: 70px;
}

.mdl-button {
    line-height: 25px !important;
    height: 25px !important;
    min-width: 0;
}

