body {
    font-family: Georgia,serif;
    background: #F1F3FA;

    .header {
        position: relative;
        background-color: #fff;
        border-top: 1px solid #e4e4e4;
        -webkit-box-shadow: 0 1px 5px #dcdddd;
        box-shadow: 0 1px 5px #dcdddd;
    }
    .push-down-45 {
        margin-bottom: 45px;
        .container {
            .logo {
                margin-right: 15px;
            }
            .pull-left {
                float: left!important;
                img {
                    width: 176px;
                    height: 70px;
                }
            }
        }
    }

    .image_size {
        width: 150px;
        height: 150px;
    }

    .user-profile {
        background: #fff;
    }
    .profile {
        margin: 20px 0;

        .profile-sidebar {
            padding: 20px 0 10px 0;
            background: #fff;
            margin-bottom: 20px;

            .profile-userpic img {
                float: none;
                margin: 0 auto;
                width: 30%;
                -webkit-border-radius: 50% !important;
                -moz-border-radius: 50% !important;
                border-radius: 50% !important;
            }

            .profile-usertitle {
                text-align: center;
                margin-top: 20px;

                .profile-usertitle-name {
                    color: #5a7391;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 7px;
                }

                .profile-usertitle-email {
                    color: #5b9bd1;
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
            }

            .profile-userbuttons {
                text-align: center;
                margin-top: 10px;

                .btn {
                    font-size: 11px;
                    font-weight: 600;
                    padding: 6px 15px;
                    margin-right: 5px;
                }

                .btn:last-child {
                    margin-right: 0px;
                }
            }

            .profile-usermenu {
                margin-top: 10px;

                ul {
                    li {
                        border-bottom: 1px solid #f0f4f7;

                        a {
                            color: #93a3b5;
                            font-size: 14px;
                            font-weight: 400;

                            i {
                                margin-right: 8px;
                                font-size: 14px;
                            }
                        }
                        &:a {
                            background-color: #fafcfd;
                            color: #5b9bd1;
                        }
                    }

                    li:last-child {
                        border-bottom: none;
                    }

                    li.active {
                        border-bottom: none;

                        a {
                            color: #5b9bd1;
                            background-color: #f6f9fb;
                            border-left: 2px solid #5b9bd1;
                            margin-left: -2px;
                        }
                    }
                }
            }
        }

        .profile-content {
            padding: 20px;
            background: #fff;

            table {
                tbody {
                    img {
                        width: 50px;
                    }
                }
            }
        }
    }

    .image-campaign {
        width: 246px;
        margin-bottom: 0px;
        float: left;

        .image_campaign {
            width: 200px;
            height: 120px;
        }
    }
    .title_campaign {
        font-size: 18px;
        line-height: 23px
    }
    .desc_miles {
        a {
            color: #000000;
            outline: none;
        }
        .title_auth {
            font-size: 12px;
        }
        .date-campaign {
            color: #949494;
        }
        .description {
            color: #000000;
            line-height: 22px;

            span {
                font-weight: bold;
            }
            .text {
                display: block;
                text-overflow: ellipsis;
                width: 600px;
                overflow: hidden;
                white-space: nowrap;
            }
            .content {
                display: block;
                text-overflow: ellipsis;
                width: 250px;
                overflow: hidden;
                white-space: nowrap;
            }
        }

    }
    .pagination {
        float: right;
    }

    .boxed {
        background-color: #fff;
        border: 1px solid #e4e4e4;
        border-radius: 6px;
        .meta {
            position: relative;
            .wp-post-image {
                width: 100%;
                height: 300px;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
            }
            .meta__container {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.6)));
                background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.6) 100%);
                background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.6) 100%);
                color: #e4e4e4;
                padding: 65px 30px 0 20px;
                line-height: 30px;
                text-align: left;
                font-family: Lato,sans-serif;
                font-weight: 700;
                font-size: 14px;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .sticky__box {
            border-bottom: 1px dashed #e4e4e4;
            padding: 12px 0;
            background-color: #fff;
            height: 45px;
            width: 100%;
            margin-bottom: 15px;
            text-align: center;
            .sticky__circle {
                display: inline-block;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background: #ebeded;
                -webkit-box-shadow: 0 1px 3px #c4c5c5 inset;
                box-shadow: 0 1px 3px #c4c5c5 inset;
                margin: 0 8%;
            }
        }
        .post-content--front-page {
            margin-bottom: 30px;
            h3 {
                font-size: 24px;
                font-weight: 300;
                color: #999;
                letter-spacing: -.75px;
                line-height: 1.25;
            }
            p {
                font-size: 18px;
            }
        }
        .row {
            .request-join {
                width: 100%;
                margin-bottom: 40px;
                .joinOrLeave {
                    width: 100px;
                    float: right;
                }
                .join {
                    width: 100px;
                    float: right;
                }
            }
            #top_x_div {
                height: 300px
            }

            .post-comments {
                text-align: left;
                margin-bottom: 60px;
            }
            .social-network {
                float: right;
                margin-bottom: 60px;

                .btn-default {
                    border-color: #ededed;
                }

                .fa {
                    color: #4483DC;
                }

                .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
                    background-color: #f8f8f8;
                    border-color: #ededed;
                }
            }
            .comment {
                padding: 10px 0 45px;

                form {
                    input {
                        width: 100%;
                        padding: 9px 12px;
                        border: 1px solid #e0e0e0;
                        border-radius: 6px;
                        background: #f8f9fa;
                        margin-bottom: 30px;
                    }
                    textarea {
                        width: 100%;
                        padding: 9px 12px;
                        border: 1px solid #e0e0e0;
                        border-radius: 6px;
                        background: #f8f9fa;
                        margin-bottom: 15px;
                    }
                }
                .media-list {
                    .media {
                        margin-top: 0px;

                        .pull-left {
                            .media-object {
                                width: 60px;
                                height: 60px;
                            }
                        }

                        .media-body {
                            position: relative;

                            .well-lg {
                                padding: 10px;
                                border-radius: 6px;

                                .media-date {
                                    position: absolute;
                                    right: 25px;
                                    top: 25px;
                                }

                                .reviews {
                                    color: #555;
                                    font-weight: bold;
                                }
                                .list-inline {
                                    padding-left: 0;
                                    margin-left: -5px;
                                    list-style: none;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    .total {
        margin-bottom: 15px;
    }

    .widget-author {
        .contribution {
            padding-bottom: 15px;
        }
        .progress {
            position: relative;
        }

        .progress span {
            position: absolute;
            display: block;
            width: 100%;
            color: black;
        }
    }

    .modal {
        .modal-content {
            .category {
                padding-right: 0px;
            }
        }
    }
    .profile_thumb {
        img {
            width: 50px;
            height: 0px;
        }
    }

    .list_contribute {
        .modal-content {
            .modal-body {
                table {
                    tbody {
                        td {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }

    .campaign {
        #image-preview {
            width: 100%;
            height: 250px;
            position: relative;
            overflow: hidden;
            background-color: #f5f5f5;
            color: #ecf0f1;
        }
        #image-preview input {
            line-height: 200px;
            font-size: 200px;
            position: absolute;
            opacity: 0;
            z-index: 10;
        }
        #image-preview label {
            position: absolute;
            z-index: 5;
            opacity: 0.8;
            cursor: pointer;
            background-color: #bdc3c7;
            width: 200px;
            height: 50px;
            font-size: 20px;
            line-height: 50px;
            text-transform: uppercase;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
        }
        .category {
            .category-content {
                margin-bottom: 20px;
            }
        }
    }
}
